---
layout: default
---

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article" style="text-align: center;">
		{% if page.image.feature %}
			<div class="page-feature">
				<div class="page-image">
					<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image"
						alt="{{ page.title }}" itemprop="image">
					{% if page.image.credit %}
						{% include image-credit.html %}
					{% endif %}
				</div><!-- /.page-image -->
			</div><!-- /.page-feature -->
		{% elsif page.external_feature %}
			<div class="page-feature">
				<div class="page-image">
					<img src="{{ page.external_feature }}" class="page-feature-image" alt="{{ page.title }}"
						itemprop="image">
					{% if page.image.credit %}
						{% include image-credit.html %}
					{% endif %}
				</div><!-- /.page-image -->
			</div><!-- /.page-feature -->
		{% endif %}

		{% include breadcrumbs.html %}
		<div class="announcement">
			<h2> &#x2728;&#x2728;&#x2728;5기 모집중&#x2728;&#x2728;&#x2728; </h2>
		</div>
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="inner-wrap" style="width:unset;float:unset;">
			<div id="content" class="page-content" itemprop="articleBody">
				<!-- get unique gisu number -->
				{% assign gisuArr = site.data.members | map: "gisu" | uniq %}

				{% for gisuNumber in gisuArr %}
				<h2>{{ gisuNumber }}기</h2>
				<table
					style="-ms-user-select:none; -moz-user-select:-moz-none; -khtml-user-select:none; -webkit-user-select:none; user-select:none;table-layout: fixed;">
					<tbody>
						{% for member in site.data.members %}
						{% if member.gisu == gisuNumber %}
						<tr>
							<td width="50%">
								<!-- Member Image and Name -->
								<img
									{% if member.profile_image_filename == null %}
										src="/images/profile/default.png"
									{% else %}
										src="/images/profile/{{ member.profile_image_filename }}"
									{% endif %}
									alt="profile-image" width="125rem" height="125rem" style="border-radius: 1.5rem;"
									oncontextmenu="return false" ondragstart="return false" onselect="return false">
								<br><br>
								<b>{{ member.english_name }}</b>
							</td>
              <td width="50%" style="padding-left: 13%;padding-right: 4%;text-align: left;">
                {% assign is_first_link_exists = false %}
                <!-- Add members' personal linkes below -->

								<!-- Github -->
                {% if member.github_username != null %}
                  {% if is_first_link_exists %}
                    <br>
                  {% else %}
                    {% assign is_first_link_exists = true %}
                  {% endif %}
									<img src="/images/github.png" alt="github-icon" style="height: 1rem;width: 1rem;">
									<a href="https://github.com/{{ member.github_username }}" target="_blank">
										{{member.github_username }}
									</a>
								{% endif %}

								<!-- Gitlab -->
                {% if member.gitlab_username != null %}
                  {% if is_first_link_exists %}
                    <br>
                  {% else %}
                    {% assign is_first_link_exists = true %}
                  {% endif %}
									<img src="/images/gitlab-icon.png" alt="gitlab-icon" style="height: 1rem;width: 1rem;">
									<a href="https://gitlab.com/{{ member.gitlab_username }}" target="_blank">
										{{ member.gitlab_username }}
									</a>
								{% endif %}

								<!-- Diya Gitlab -->
								{% if member.diya_gitlab_username != null %}
                  {% if is_first_link_exists %}
                    <br>
                  {% else %}
                    {% assign is_first_link_exists = true %}
                  {% endif %}
									<img src="/images/diya-gitlab-icon.png" alt="diya-gitlab-icon" style="height: 1rem;width: 1rem;">
									<a href="https://gitlab.diyaml.com/{{ member.diya_gitlab_username }}" target="_blank">
										{{ member.diya_gitlab_username }}
									</a>
								{% endif %}

								<!-- Homepage -->
								{% if member.homepage_url != null %}
                  {% if is_first_link_exists %}
                    <br>
                  {% else %}
                    {% assign is_first_link_exists = true %}
                  {% endif %}
									<img src="/images/homepage-icon.svg" alt="homepage-icon" style="height: 1rem;width: 1rem;">
									<a href="{{ member.homepage_url }}" target="_blank"> Homepage</a>
								{% endif %}
							</td>
						</tr>
						{% endif %}
						{% endfor %}
					</tbody>
				</table>
				{% endfor %}

				<hr />
				<footer class="page-footer">
					{% if page.categories %}
						{% include page-author.html %}
					{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}
						{% include comments.html %}
					{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}
			<div class="ads">
				{% include advertising.html %}
			</div><!-- /.ads -->
		{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->
